<%- include('./header.ejs') %>

<section class="blog-list mtb-40" style="margin-top: 138px;" >
    <div class="container">
      <h1 style="font-weight: 600;"> ALL BLOGS</h1>
      <div class="row">
        <% b.forEach((item)=>{ %>
          <div class="col-md-4">
            <div class="blog-box card shadow-lg h-100">
              <img src="<%=  item.image.url %>" height="200px" alt="blog1" />
              <h3><%= item.title %></h3>
              <p><%= item.createdAt.toLocaleDateString() %></p>
              <p><%= item.description.slice(0,100) %></p>
              <a href="/blogdetail/<%= item._id %>" style="background-color: darkorange;" class="btn btn-dark">Read more. </a>
            </div>
          </div>
       <% }) %>
      
    
      </div>
   
  </section>

  <%- include('./footer.ejs') %>
   